* {
    margin: 0;
    font-family:Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fcf5eb;
}

/* box-1 */

.navbar {
    background-color: #fcf5eb;
    height: 80px;
    width: 100%;
    display: flex;
}

.logo {
    background-image: url("imgs/logo_img.png");
    height: 30px;
    width: 130px;
    background-size: cover;
    margin-left: 30px;
    margin-top: 20px;
}

.nav-text {
    display: flex;
    margin-left: 250px;

}

.box { 
    margin-left: 50px;
    margin-top: 30px;
}

.button {
    margin-top: 20px;
    margin-left: 250px;       
}

.add {
    height: 50px;
    width: 140px;
    font-size: 1rem;
    background-color: rgb(14, 225, 14);
    border-radius: 35px;
}
.add:hover{
    background-color: green;
    color: white;
}

/* box-2 */ 

.Slider {
    background-image: url("imgs/slider_img.png");
    height: 700px;
    width: 95%;
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.text {
    color: white;
    margin-left: 15%;
    padding-top: 200px;
}

.text-add1 {
    font-size: 5rem;
    font-weight: 500;
}

.text-add2 {
    margin: 4px;
    font-weight: 500;
    font-size: 1.2rem;
}

.button {
    margin-left: 230px;
}

.add-button {
    height: 50px;
    width: 140px;
    font-size: 1rem;
    background-color: rgb(14, 225, 14);
    border-radius: 35px;
    

}
.add-button:hover {
    background-color: green;
    color: white;
} 

/* box-3 */

.img-add {
    height: 300px;
}

.imgs {
    background-image: url("imgs/S_img.png");
    height: 250px;
    width: 90%;
    background-size: cover;
    margin-left: 60px;
}

/* box-4 */

.paragraph {
    text-align: center;
}

.add-1 {
    margin: 5px;
    font-size: 2.5rem;
    font-weight: 500;
}

/* box-5 */

.img-add2 {
    height: 300px;
}

.imgs-2 {
    background-image: url("imgs/S_img.png");
    height: 250px;
    width: 90%;
    background-size: cover;
    margin-left: 60px;
    margin-top: 20px;
}

/* box-6 */

.foot-section {
    background-color: rgba(0, 0, 0, 0.918);
    height: 450px;
    color: white;
}

.foot-panel {
    display: flex;
}

ul{
    margin-top: 70px;
    margin-left: 140px;
    margin-bottom: 50px;
}

ul p {
    margin: 20px;
}

.foot-panel-2 {
    text-align: center;
    margin-top: 25px;
    margin-right: 10px;
}

p button {
    height: 50px;
    width: 170px;
    font-size: 1rem;
    background-color: rgb(14, 225, 14);
    border-radius: 35px;
}

button:hover {
    background-color: green;
    color: white;
}
